/* Add CSS styling here */
header {border: 2px solid orange;}

h1 {border: 2px solid pink;}

nav {border: 2px solid red;}

h2, h3 {border: 2px solid lavender;}

img {border: 2px solid black;}

section {border: 2px solid royalblue;}

div {border: 2px solid chartreuse;}

a {border: 2px solid goldenrod;}

p {border: 2px solid purple;}

footer{border: 2px solid green;}
/* Temporary Borders Above */
body {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-flow: column wrap;
    background:lightgrey;
    min-height: 15vh;
    justify-content: center;
}

header h1 {
    margin: 0.5rem;
    max-width: 24rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 48rem;
    align-items: center;
    margin: 0.5rem 2rem;
    height:40%;
}

header a {
    width: 20%;
}

a {
    text-decoration: none;
    background: white;
    color: black;
    padding: 0.5rem;
    text-align: center;
}

section.profile {
    background: skyblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 3rem 1rem;
    min-height: 32.1vh;
}

.portrait {
    max-width: 95%;
    margin: 0.5rem;
}

.bio {
    max-width: 95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 0.5rem;
    width: 64rem;
}

.bio a {
    width: 24rem;
    max-width: 95%;
}

section.gallery {
    background: lightgoldenrodyellow;
    padding: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 26.25vh
}

.gallery div {
    margin: 0.25rem;
}

footer {
    background: lightpink;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 10vh;
}



