/* Add CSS styling here */
header {border: 2px solid orange;}

h1 {border: 2px solid pink;}

nav {border: 2px solid red;}

h2, h3 {border: 2px solid lavender;}

img {border: 2px solid black;}

section {border: 2px solid royalblue;}

div {border: 2px solid chartreuse;}

a {border: 2px solid goldenrod;}

p {border: 2px solid purple;}

footer{border: 2px solid green;}
/* Temporary Borders Above */
body {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-flow: column wrap;
    background:lightgrey;
    height: 15vh;
    justify-content: center;
}

header h1 {
    margin-left: 1rem;
}

header nav {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    height:25%;
}

a {
    text-decoration: none;
    background: white;
    color: black;
}